.game-board {
  align-content: space-between;
  background: #000000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 380px;
  justify-content: space-between;
  margin: 0 auto;
  width: 380px;
}

.game-cell {
  align-items: center;
  background: #FFFFFF;
  box-sizing: border-box;
  display: flex;
  height: 32%;
  justify-content: center;
  overflow: hidden;
  width: 32%;
}

.game-cell-marker {
  height: 80%;
  width: 80%;
}

.game-cell-marker-transition-enter {
  transform: scale(0);
}

.game-cell-marker-transition-enter.game-cell-marker-transition-enter-active {
  transform: scale(1);
  transition: transform 250ms ease;
}

.game-cell-marker-transition-leave {
  transform: scale(1);
}

.game-cell-marker-transition-leave.game-cell-marker-transition-leave-active {
  transform: scale(0);
  transition: transform 250ms ease;
}
