html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(to bottom, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  min-height: 100%;
}

.tile-floating {
  background: #FFFFFF;
  border-bottom: 4px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 20px 50px 0px;
  overflow: hidden;
}

.scale-transition-enter {
  transform: scale(0);
}

.scale-transition-enter.scale-transition-enter-active {
  transform: scale(1);
  transition: transform 250ms ease;
}

.scale-transition-leave {
  transform: scale(1);
}

.scale-transition-leave.scale-transition-leave-active {
  transform: scale(0);
  transition: transform 250ms ease;
}
